<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd" >

<suite name="Cleartrip Tests" verbose="1" thread-count="1" >
    <test name="Sample Test" >
        <parameter name="browser" value="firefox" />
        <parameter name="url" value="https://cleartrip.com" />
        <classes>
            <class name="com.ctrip.tests.FlightsTests" />
        </classes>
    </test>
</suite>

